body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.fullpage {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.section {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    background: white;
}

.content-block {
    width: 100%;
    margin-bottom: 5px;
    font-size: 60px;
    font-family: 'Arial';
    font-weight: 700;
    text-align: center;
    will-change: transform;
}

.section.current, .section.down.active, .section.up.active {
    display: flex;
    animation-duration: .6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.section.active {
    pointer-events: none !important;
}
